
.message-list {
  max-height: 60vh;
  min-height: 10vh;
  overflow: hidden;
  overflow-y: scroll;
}

.from {
  color: #1565C0;
  font-weight: bold;
}

.created {
  color: #9E9E9E;
}

p[md-line] {
  overflow-x: visible;
  white-space: normal;
}