<div class="slds-m-top--medium col-xs-12">
  <div class="slds-m-bottom--large end-xs slds-p-right--x-small">
    <button md-raised-button color="primary" (toggle)="showDialog">Создать диалог
      <md-icon>add_circle_outline</md-icon>
    </button>
  </div>
  <div class="slds-m-bottom--large" >
    <md-input placeholder="Введите название диалога" [(ngModel)]="dialogName"></md-input>
    <button md-raised-button color="accent" [disabled]="!dialogName" (click)="createDialog(dialogName)">Сохранить</button>
  </div>
  <app-chats-list [dialogs]="dialogs"></app-chats-list>
</div>
