<div class="row ">
    <div class="col-xs-offset-3 col-xs-6">
        <md-toolbar [color]="'accent'">
            <span><a [routerLink]="['/inbox']"><md-icon>keyboard_arrow_left</md-icon></a></span>
            <span>{{dialog.title}}</span>
        </md-toolbar>
        <app-message-list [messages]="messages"></app-message-list>
        <app-message-input (messageSended)="sendMessage($event)"></app-message-input>
    </div>
    <div class="col-xs-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dolore doloremque expedita, minima
        natus odio quae saepe ullam voluptatibus. Debitis dolores iure magni nihil omnis qui, sapiente tenetur ut?
    </div>
</div>
