<div class="slds-m-top--medium">
    <div class="row slds-m-bottom--large end-xs">
        <button md-raised-button color="primary">Создать диалог <md-icon>add_circle_outline</md-icon></button>
    </div>
    <div class="row">
        <md-card class="slds-m-bottom--xx-small row">
            <div class="col-xs-2">
                <img class="img-circled" src="http://placehold.it/150x150" alt="">
            </div>
            <div class="col-xs-10">
                <md-card-title>Название диалога</md-card-title>
                <md-card-content>
                    <md-card-subtitle>От: Вы</md-card-subtitle>
                    <p class="no-wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut autem beatae culpa fuga, fugit id in ipsum necessitatibus nemo, odit qui quibusdam, quis ratione sed sit voluptate. Cumque, est!</p>
                </md-card-content>
            </div>
        </md-card>
    </div>
</div>